/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", serif;
}

:root { 
	/* Colors */
	--light-color: #F1F1F1;
	--dark-color: #2A2C2D;
	--primary-color: #535C5F;
	--secondary-color: #F5B041;

	/* Font size */
	--font-size-s: 0.9rem;
	--font-size-n: 1rem;
	--font-size-m: 1.12rem;
	--font-size-l: 1.5rem;
	--font-size-xl: 2rem;
	--font-size-xxl: 2.3rem;


	/* Font weight */
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Border radius */
	--border-radius-s: 8px;
	--border-radius-m: 30px;
	--border-radius-circle: 50%;

	/* Site max width */
	--site-max-width: 1300px;
}

html { 
	scroll-behavior: smooth;
}

/* Styling for whole site */
ul { 
	list-style: none;
}

a { 
	text-decoration: none;
}

button { 
	cursor: pointer;
	border: none;
	background: none;
}

img { 
	width: 100%;
}



.section-content { 
	margin: 0 auto;
	padding: 0 20px;
	max-width:var(--site-max-width);
}

.section-title { 
	text-align: center;
	padding: 60px 0 100px;
	text-transform: uppercase;
	font-size: var(--font-size-l);
	color: var(--dark-color);
}

.section-title::after { 
	content: "";
	width: 80px;
	height: 5px;
	display: block;
	margin: 10px auto 0;
	border-radius: var(--border-radius-s);
	background: var(--secondary-color);
}

.go-top-btn { 
	position: fixed;
	bottom: 35px;
	right: 35px;
	cursor: pointer;
	display: none;
}

.go-top-btn img { 
	height: 50px;
	width: 50px;
}

.go-back-btn { 
	position: fixed;
	top: 140px;
	left: 35px;
	cursor: pointer;
}

.go-back-btn img { 
	height: 30px;
	width: 30px;
}



/* Navbar styling */
header { 
	position: fixed;
	width: 100%;
	z-index: 5;
	background: var(--light-color);
}

header .navbar { 
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
}

.navbar .nav-logo .logo-text { 
	margin-bottom: 0px;
	color: var(--primary-color);
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu { 
	display: flex;
	gap: 10px;
	margin-bottom: 0;
}

.navbar .nav-menu .nav-link { 
	padding: 10px 18px;
	color: var(--dark-color);
	font-size: var(--font-size-m);
	border-radius: var(--border-radius-m);
	transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover { 
	color: var(--light-color);
	background: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
	display: none;
}

/* Hero section styling */
.hero-section { 
	min-height: 100vh;
	background: var(--light-color);
}

.hero-section .section-content { 
	padding: 100px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	color: var(--primary-color);
	justify-content: center;
}

.hero-section .hero-details .title { 
	margin-top: 200px;
	max-width: var(--site-max-width);
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-semibold);
	text-align: center;
}

.hero-section .hero-details .subtitle { 
	max-width: var(--site-max-width);
	margin: 12px 0 40px;
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-medium);
	text-align: center;
}

.hero-section .hero-details .concept { 
	max-width: var(--site-max-width);
	margin: 48px 0 20px;
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-normal);
	text-align: center;
}

.hero-section .hero-image-wrapper { 
    width: 100%; /* Full viewport width */
    text-align: center;
}

.hero-section .hero-image-wrapper img {
    width: 100%; /* Ensure the image takes up the full width of the container */
    height: 100%; /* Ensure the image fills the height of the container */
    object-fit: cover; /* Ensure the image covers the container without distorting */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding if any */
    display: block; /* Ensure it behaves like a block element */
}


.hero-section .hero-image-wrapper p {
    line-height: 30px;
    margin: 50px auto 30px; /* Center horizontally */
    max-width: var(--site-max-width);
    text-align: center;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}

.hero-section .hero-image-wrapper a {
    font-size: var(--font-size-m);
    color: var(--dark-color);
    font-weight: var(--font-weight-semibold);
}


/* Research section styling */
.research-section { 
	padding: 23px 0px 23px 0px;
	background: var(--light-color);
}

.research-section .section-title { 
	padding: 46px 0px 23px 0px;
	color: var(--dark-color);
	text-align: center;
}

.research-section .section-content { 
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align content */
    text-align: center;
    gap: 20px; /* Adjust spacing */
    margin-bottom: 70px;
    width: 100%; /* Ensure it takes full width */
}

/* Detail 1 */
.research-section .research-details1 { 
    width: 100%; /* Take full width */
    max-width: 100%; /* Ensure no restriction */
}

.research-section .research-details1 .text { 
    line-height: 30px;
    margin:23px 0px 23px 0px;
    text-align: center;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}

.research-section .research-image_system { 
    width: 40%; /* Ensure it takes full width */
    text-align: center; /* Center the image */
}

/* test section styling */
.testing-section { 
	padding: 100px 0px 23px 0px;
	background: var(--light-color);
}

.testing-section .section-title { 
	padding: 23px 0px 23px 0px;
	color: var(--dark-color);
	text-align: center;
}

.testing-section .section-content { 
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align content */
    text-align: center;
    gap: 20px; /* Adjust spacing */
    margin-bottom: 70px;
    width: 100%; /* Ensure it takes full width */
}

/* Detail 1 */
.testing-section .testing-details1 { 
    width: 100%; /* Take full width */
    max-width: 100%; /* Ensure no restriction */
}

.testing-section .testing-details1 .text { 
    line-height: 30px;
    margin:23px 0px 23px 0px;
    text-align: center;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}

.testing-section .test-image { 
    width: 100%; /* Ensure it takes full width */
    text-align: center; /* Center the image */
}



/* prototyp section styling */
.prototype-section { 
	padding: 46px 0px 23px 0px;
	background: var(--light-color);
}

.prototype-section .section-title { 
	padding: 23px 0px 23px 0px;
	color: var(--dark-color);
	text-align: center;
}

.prototype-section .section-content { 
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align content */
    text-align: center;
    gap: 20px; /* Adjust spacing */
    margin-bottom: 70px;
    width: 100%; /* Ensure it takes full width */
}

/* Detail 1 */
.prototype-section .prototype-details1 { 
    width: 100%; /* Take full width */
    max-width: 100%; /* Ensure no restriction */
}

.prototype-section .prototype-details1 .text { 
    line-height: 30px;
    margin:23px 0px 23px 0px;
    text-align: center;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}

.prototype-section .prototype-image { 
    width: 100%; /* Ensure it takes full width */
    text-align: center; /* Center the image */
}


/* Exhibition section styling */
.exhibition-section { 
	padding: 46px 0px 23px 0px;
	background: var(--light-color);
}

.exhibition-section .section-title { 
	padding: 23px 0px 23px 0px;
	color: var(--dark-color);
	text-align: center;
}

.exhibition-section .section-content { 
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align content */
    text-align: center;
    gap: 20px; /* Adjust spacing */
    margin-bottom: 70px;
    width: 100%; /* Ensure it takes full width */
}

/* Detail 1 */
.exhibition-section .exhibition-details1 { 
    width: 100%; /* Take full width */
    max-width: 100%; /* Ensure no restriction */
}

.exhibition-section .exhibition-details1 .text { 
    line-height: 30px;
    margin:23px 0px 23px 0px;
    text-align: center;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}

.exhibition-section img { 
    width: 100%; /* Ensure it takes full width */
    text-align: center; /* Center the image */
}

/* Recap Section styling */
.recap-section {
	padding: 100px 0px 23px 0px;
	background-color: var(--primary-color);
  }
  
  .recap-section .section-content {
	display: flex;
	flex-direction: column; /* 🔥 importante per disposizione verticale */
	align-items: center;     /* centra tutto orizzontalmente */
	text-align: center;      /* centra il testo */
  }
  
  .recap-section .section-content .text {
	line-height: 30px;
	margin: 23px 0;
	font-size: var(--font-size-m);
	color: var(--light-color);
  }
  
  .recap-section .section-content .recap-image {
	width: 20%;
	height: auto;
	margin-bottom: 100px;
  }
  

/* Footer Section styling */
.footer-section { 
	padding: 20px 0;
	background: var(--dark-color);	
}

.footer-section .section-content { 
	display: flex;	
	align-items: center;
	justify-content: space-between;
}


.footer-section :where(.copyright-text, .social-link, .policy-link) { 
	color: var(--light-color);	
	transition: 0.2s ease;
}

.footer-section .social-link-list .social-link { 
	font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover { 
	color: var(--secondary-color);
}




@media screen and (min-width: 901px) {
    #menu-close-button,
    #menu-open-button {
        display: none !important;
    }
}

/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) { 
	:root {
	--font-size-m: 1rem;
	--font-size-l: 1.3rem;
	--font-size-xl: 1.5rem;
	--font-size-xxl: 1.8rem;
	}

	body.show-mobile-menu header::before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(5px);
	background: rgb(0, 0, 0 / 0.2);
	}

	.navbar :where(#menu-close-button, #menu-open-button) {
		display: block;
		font-size: var(--font-size-l);
	}

	.navbar #menu-close-button {
		position: absolute;
		right: 30px;
		top: 30px;
	}

	.navbar #menu-open-button {
		color: var(--primary-color);
	}

	.navbar .nav-menu { 
		display: block;
		position: fixed;
		left: -300px;
		top: 0;
		width: 300px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 100px;
		background: var(--light-color);
		transition: left 0.2s ease;
	}

	body.show-mobile-menu .navbar .nav-menu { 
		left: 0;
	}	

	.navbar .nav-menu .nav-link { 
		color: var(--dark-color);
		display: block;
		margin-top: 17px;
		font-size: var(--font-size-l);
	}

	.predesign-section .section-content {
		flex-direction: column;
	}

}

/* Responsive media query code for max width 640px */
@media screen and (max-width: 640px) { 
	
	.predesign-section .section-content {
		flex-direction: column;
	}

	.research-section .research-image_system { 
    width: 80%; /* Ensure it takes full width */
    text-align: center; /* Center the image */
}

.exhibition-section .section-content .exhibition-video { 
    width: 80%;
}

	.footer-section .section-content {
		flex-direction: column;
		gap: 20px;
	}
}
